<div class="separate_block border_left_block">
	<h2 class='title collapse_title'>
		<a 
			href="javascript:void(0);"
			onclick='toggleCollapse( this );' 
			aria-expanded="false"
			title="Afficher les frais forfaitaires"
			aria-label="Afficher les frais forfaitaires"
			>
			<svg class="arrow"><use href="/static/icons/endi.svg#chevron-down"></use></svg>
			Frais forfaitaires
		</a>
	</h2>
	<div class="collapse_content" hidden>
		<div class='content'>
			<div class='row'>
				<form class='form-inline'>
					<div class='one_line expenses_ht'></div>
				</form>
			</div>
		</div>
	</div>
</div>
