<table class="hover_table sortable-table">
  <caption class="screen-reader-text">Liste des produits du catalogue</caption>
  <thead>
    <tr>
      <th class="col_text"></th>
      {{#each colHeaders }}
      {{#if isSortable }}
      <th class="col_{{type}} sortable{{sortClass}}" scope="col" data-sort="{{key}}">
        <a href="#" aria-label="Trier par {{aria}}" title="Trier par {{aria}}" class="icon{{sortClass}}">
          <svg><use href="/static/icons/endi.svg#sort-{{orderIcon}}"></use></svg>
          {{label}}
        </a>
      </th>
      {{else}}
      <th class="col_{{type}}" scope="col">{{label}}</th>
      {{/if}}
      {{/each}}
    </tr>
  </thead>
  <tbody></tbody>
</table>
