<h2 class="title">
  <!-- Ne pas mettre cette icône tout le temps, mais seulement quand il n’y a pas de produit ? Oui ! -->
  <span
    class="icon status caution"
    title="Il faut au moins un produit pour créer un produit composé"
  >
    <svg>
      <use href="/static/icons/endi.svg#danger"></use>
    </svg>
  </span>
  Liste des produits
</h2>
<div class="table_container items">
  <table class="hover_table">
    <caption class="screen-reader-text">
      Liste des produits compris dans le produit composé
    </caption>
    <thead>
      <tr>
        <th scope="col" class="col_text"></th>
        <th scope="col" class="col_text">
          Description
        </th>
        <th scope="col" title="Coût unitaire Hors Taxes" class="col_number">
          Coût U<span class="screen-reader-text">nitaire</span>. H<span class="screen-reader-text">ors </span>T<span class="screen-reader-text">axes</span>
        </th>
        <th scope="col" title="Prix unitaire Hors Taxes" class="col_number">
          Prix U<span class="screen-reader-text">nitaire</span>. H<span class="screen-reader-text">ors </span>T<span class="screen-reader-text">axes</span>
        </th>
        <th scope="col" class="col_number" title="Quantité par unité d’œuvre">
          Q<span class="screen-reader-text">uanti</span>té<span class="screen-reader-text"> par unité d’œuvre</span>
        </th>
        <th scope="col" class="col_text unity">
          Unité
        </th>
        <th scope="col" class="col_number" title="Prix Hors Taxes">
          <span class="screen-reader-text">Prix</span> H<span class="screen-reader-text">ors </span>T<span class="screen-reader-text">axes</span>
        </th>
        <th scope="col" class="col_actions" title="Actions">
          <span class="screen-reader-text">Actions</span>
        </th>
      </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
      <tr>
        <td class="col_actions" colspan="12">
          <ul>
            <li class="add"></li>
          </ul>
        </td>
      </tr>
    </tfoot>
  </table>
  <div class="popin"></div>
</div>