<td>
  {{#if locked}}
    <span
      class="icon"
      title="Cet élément hérite des informations du catalogue produit"
    >
      <svg>
        <use href="/static/icons/endi.svg#lock"></use>
      </svg>
    </span>
  {{else}}
    <span
      class="icon"
      title="Cet élément n’hérite pas des informations du catalogue produit"
    >
      <svg>
        <use href="/static/icons/endi.svg#lock-open"></use>
      </svg>
    </span>
  {{/if}}
</td>
<td class="col_text">
  {{{description}}}
</td>
<td class="col_number">
  {{{supplier_ht_label}}}
</td>
<td class="col_number">
  {{{ht_label}}}
</td>
<td class="col_number">
  {{quantity}}
</td>
<td class="col_text unity">
  {{unity}}
</td>
<td class="col_number">
  {{{total_ht_label}}}
</td>
<td class="col_actions width_two">
  <ul>
    <li class="edit"></li>
    <li class="delete"></li>
  </ul>
</td>