<form >
    <div class="form-group">
    <label for='type_id'>Champs de gestion sociale</label>
    <div class='controls'>
    <select id='type_id'>
    {{#columns}}
    <option data-type='{{type}}' value='{{key}}'>{{label}}</option>
    {{/columns}}
    </select>
    <span class='help-block'>Le champ sur lequel ce critère statistique va porter</span>
    </div>
    </div>
    <button type="submit" class="btn btn-primary btn-success" name='submit'>Valider</button>
    <button type="reset" class="btn btn-danger" name="cancel">Annuler</button>
</form>
