{{#if label}}
	{{#if required}}
<label for="{{tagId}}" class="required" title="Champ obligatoire">
    {{else}}
<label for="{{tagId}}">
    {{/if}}
    <svg class="error"><use href="/static/icons/endi.svg#exclamation-triangle"></use></svg>
    {{label}}
    {{#if required}}
    <span class="icon required">
        <svg><use href="/static/icons/endi.svg#required"></use></svg>
        <span><span class="screen-reader-text">Champ</span> Obligatoire</span>
    </span> 
    {{/if}}
</label>
{{/if}}
<input
       id="{{tagId}}"
       class='form-control {{css_class}}'
       type='{{type}}'
       value='{{value}}'
       name="{{field_name}}"
       aria-label='{{ariaLabel}}'
       placeholder="{{placeholder}}"
       {{#if pattern}}pattern="{{pattern}}"{{/if}}
       {{#if dataList}}list="{{uniqueId}}"{{/if}}
       {{#unless editable}}readonly{{/unless}}
       ></input>

{{#if description}}
<span class='help-block'>{{description}}</span>
{{/if}}
{{#if editable}}
{{#if dataList }}
<datalist id="{{ uniqueId }}">
    {{#each dataList }}
    <option value="{{this}}">
        {{/each}}
</datalist>
{{/if}}
{{/if}}

{{#if dataList }}
<datalist id="{{ uniqueId }}">
    {{#each dataList }}
    <option value="{{this}}">
        {{/each}}
</datalist>
{{/if}}
