<form class="deform" autocomplete="off">
    <fieldset class="deformFormFieldset">
        <div class='main'></div>
        <div class='form-actions form-group'>
            <button class='btn btn-primary icon' type='submit' value='insert' disabled='true' aria-disabled='true' title="Ajouter le ou les produits sélectionnés" aria-label="Ajouter le ou les produits sélectionnés">
                <svg><use href="/static/icons/endi.svg#check"></use></svg>Ajouter
            </button>
            <button class='btn' type='reset' value='cancel'>
                Annuler
            </button>
        </div>
    </fieldset>
</form>