<form id='holidayForm' class='form' action='#' onsubmit='return false;'>
<div class="form-group">
<label class="control-label" for='alt_start_date'>Début</label>
<div class='controls'>
    <input name="alt_start_date" id="alt_start_date" class="input-small" type="text" autocomplete="off">
    <input name="start_date" type="hidden">
</div>
</div>
<div class="form-group">
<label class="control-label" for='alt_end_date'>Fin</label>
<div class='controls'>
    <input name="alt_end_date" id="alt_end_date" class="input-small" type="text" autocomplete="off">
    <input name="end_date" type="hidden">
</div>
</div>

<div class="form-actions">
<button type="submit" class="btn btn-primary" name='submit'>Valider</button>
<button type="reset" class="btn" name="cancel">Annuler</button>
</div>
</form>
