<script setup>
defineProps({
  href: {type: String, default: "#"},
  active: {type: Boolean, default: false}
})
</script>


<template>
  <li role='presentation' :class='active ? "active" : ""'>
    <a :href='href' role='tab'>
      <slot></slot>
    </a>
  </li>
</template>
