<div role="dialog" id="expense-forms" aria-modal="true" aria-labelledby="expense-forms_title">
    <form class='form layout'>
        <div class="modal_layout">
            <header>
                <button tabindex='-1' type="button" class="icon only unstyled close" title="Fermer cette fenêtre" aria-label="Fermer cette fenêtre">
                    <svg>
                        <use href="/static/icons/endi.svg#times"></use>
                    </svg>
                </button>
                <h2 id="expense-forms_title" class="modal-title">{{ title }}</h2>
            </header>
            <div class="modal_content_layout layout">
                <div class="modal_content add_km_expense">
                    <div class='row form-row'>
                        <div class='category required col-md-12'></div>
                    </div>
                    <div class='row form-row'>
                        <div class='date required col-md-6'></div>
                        <div class='type_id required col-md-6'></div>
                    </div>
                    <div class='row form-row'>
                        <div class='description required col-md-12'></div>
                    </div>
                    <div class='row form-row'>
                        <div class='start required col-md-6'></div>
                        <div class='end required col-md-6'></div>
                    </div>
                    <div class='row form-row'>
                        <div class='km col-md-6'></div>
                        <div class='km col-md-6 create_return'></div>
                    </div>
                    <div class="row form-row">
                        <div class='business_link col-md-12'></div>
                    </div>
                </div>
                <footer>
                    <button class='btn btn-primary' type='submit' value='submit' formnovalidate>
                        {{ button_title }}
                    </button>
                    <button class='btn' type='reset' value='submit'>
                        Fermer
                    </button>
                </footer>
            </div>
        </div><!-- /.modal_layout -->
    </form>
</div><!-- /#expense-forms -->