<form class='modal_content_layout layout'>
    <div class="modal_content">
        {{#unless add}}
            <div class='row form-row'>
                <div class='category required col-md-12'></div>
            </div>
        {{/unless}}
        <div class='row form-row'>
            <div class='date required col-md-6'></div>
            <div class='type_id required col-md-6'></div>
        </div>
        <div class='row form-row'>
            <div class='description required col-md-12'></div>
        </div>
        <div class="row form-row">
            <div class="fill_mode col-md-12"></div>
        </div>
        <div class='row form-row'>
            <div class='ht col-md-3' style="{{#if hidden_ht}}display: none{{/if}}"></div>
            <div class='manual_ttc col-md-3' style="{{#if hidden_manual_ttc}}display: none{{/if}}"></div>
            <div class='tva col-md-3' style="{{#if hidden_tva}}display: none{{/if}}"></div>
            <div class='tva_rate col-md-3'></div>
            <div class='ttc_readonly col-md-3'></div>
        </div>
        <div class="row form-row">
            <div class="supplier_id col-md-6"></div>
            <div class="invoice_number col-md-6"></div>
        </div>
        <div class='row form-row'>
            <div class='files col-md-12'></div>
        </div>
        <div class='row form-row'>
            <div class='business_link col-md-12'></div>
        </div>
    </div>
    <footer>
        <button class='btn btn-primary' type='submit' value='submit' formnovalidate>
            {{ button_title }}
        </button>
        <button class='btn' type='reset' value='submit'>
            Fermer
        </button>
    </footer>
</form>