<div class="layout flex">
	<div></div>
	<div>
    	<h4 class="content_vertical_padding">Totaux</h4>
    	<table class="top_align_table">
    		<tbody>
    			<tr>
    				<th scope="row">Total HT</th>
    				<td class="col_number">{{{ ht }}}</td>
    			</tr>
    			<tr>
    				<th scope="row">Total TVA</th>
    				<td class="col_number">{{{ tva }}}</td>
    			</tr>
    			<tr>
    				<th scope="row">Total TTC</th>
    				<td class="col_number">{{{ ttc }}}</td>
    			</tr>
    			<tr>
    				<th scope="row">Total Km</th>
    				<td class="col_number">{{{ km }}}&nbsp;km</td>
    			</tr>
    		</tbody>
    	</table>
	</div>
</div>
