<td class='col_text description rich_text'>{{{ description }}}</td>
{{#if hasDate }}
  <td class='col_date'>{{ date }}</td>
{{/if}}
<td class='col_number'>
{{{ cost_amount }}}
{{#if is_rounded}}
<br /><em title="obtenu par arrondi de {{{full_cost_amount}}}"><small><span class="screen-reader-text">obtenu par arrondi de </span>{{{full_cost_amount}}}</em>
{{/if}}

</td>
<td class='col_number'>{{ quantity }}</td>
<td class='col_text unity'>{{ unity }}</td>
<td class='col_number'>{{ tva_label }}</td>
{{#if is_ttc_mode}}
<td class='col_number'>{{{ ttc }}}</td>
{{else}}
<td class='col_number'>
{{{ ht }}}

</td>
{{/if}}
<td class='col_text'>{{{ product }}}</td>
{{#if edit}}
<td class='col_actions width_two'>
	<ul>
		<li>
			<button type='button' class='btn icon only edit' title='Modifier ce produit' aria-label='Modifier ce produit'>
				<svg><use href="/static/icons/endi.svg#pen"></use></svg>
			</button>
		</li>
		{{#if can_delete}}
		<li>
			<button type='button' class='btn icon only negative delete' title='Supprimer ce produit' aria-label='Supprimer ce produit'>
				<svg><use href="/static/icons/endi.svg#trash-alt"></use></svg>
			</button>
		</li>
		{{/if}}
	</ul>
</td>
<td class='col_actions row_ordering sort'>
	<ul>
		{{#if is_not_first }}
		<li>
			<button type='button' class='btn icon only up' title='Déplacer ce produit vers le haut' aria-label='Déplacer ce produit vers le haut'>
				<svg><use href="/static/icons/endi.svg#arrow-up"></use></svg>
			</button>
		</li>
		{{/if}}
		{{#if is_not_last }}
		<li>
			<button type='button' class='btn icon only down' title='Déplacer ce produit vers le bas' aria-label='Déplacer ce produit vers le bas'>
				<svg><use href="/static/icons/endi.svg#arrow-down"></use></svg>
			</button>
		</li>
		{{/if}}
	</ul>
</td>
{{/if}}
