<div class="layout flex">
	<div>
        {{# if cae_percentage }}
		<h4 class="content_vertical_padding">Part paiement CAE ({{{ cae_percentage }}}%) : {{{ ttc_cae }}}</h4>
            {{# if totals_mismatch}}
                <div class="space_bottom">
                    <span class="icon caution">
                        <svg><use href="/static/icons/endi.svg#exclamation-triangle"></use></svg>
                    </span>
                    Validé en commande&nbsp;: {{{ orders_ttc_cae }}}
                </div>
            {{/if}}
        {{/if}}
        <div class="cae-part-region"></div>

        {{# if worker_percentage }}
   		<h4 class="content_vertical_padding">Part paiement Entrepreneur ({{{ worker_percentage }}}%) : {{{ ttc_worker }}}</h4>
            {{# if totals_mismatch}}
                    <div class="space_bottom">
                        <span class="icon caution">
                            <svg><use href="/static/icons/endi.svg#exclamation-triangle"></use></svg>
                        </span>
                        Validé en commande&nbsp;: {{{ orders_ttc_worker }}}
                    </div>
            {{/if}}
        {{/if}}
        <div class="worker-part-region"></div>
	</div>
	<div>
    	<h4 class="content_vertical_padding">Totaux</h4>
    	<table class="top_align_table">
    		<tbody>
    			<tr>
    				<th scope="row">Total HT</th>
    				<td class="col_number">{{{ ht }}}</td>
    			</tr>
    			<tr>
    				<th scope="row">Total TVA</th>
    				<td class="col_number">{{{ tva }}}</td>
    			</tr>
    			<tr>
    				<th scope="row">Total TTC</th>
    				<td class="col_number">{{{ ttc }}}</td>
    			</tr>
    		</tbody>
    	</table>
	</div>
</div>
