<script setup>
  const props = defineProps({
    file: Object,
  })
</script>
<template>
  <td class="col_text">
    <a
      v-if="file"
      :href="'/files/' + file.id + '?action=download'"
      title="Cliquer pour télécharger le fichier"
      aria-label="Cliquer pour télécharger le fichier"
      target="_blank"
    >
      <span
        v-if="file.is_signed"
        class="icon only tag positive"
        title="Fichier signé numériquement"
      >
        <svg role="presentation">
          <use href="/static/icons/endi.svg#lock"></use>
        </svg>
        <span class="screen-reader-text">Fichier signé numériquement</span>
      </span>
      <span
        v-else
        class="icon only tag caution"
        title="Fichier non signé numériquement"
      >
        <svg role="presentation">
          <use href="/static/icons/endi.svg#lock-open"></use>
        </svg>
        <span class="screen-reader-text">Fichier non signé numériquement</span>
      </span>
      {{ file.name }}<br />
      <small>{{ file.human_size }}</small>
    </a>
    <small v-else>Fichier manquant</small>
  </td>
</template>
