body.caerp .pager {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	padding: var(--padding-m) 0;

	&.display_selector {
		justify-content: space-between;
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		display: inline-block;
		font-family: 'OpenSans', sans-serif;
		font-size: .875rem;
		font-weight: normal;
		padding: 0 var(--padding-xl) 0 0;
	}

	nav {
		align-items: center;
		display: flex;
		flex-wrap: wrap;

		ul {
			list-style-type: none;
		}

		li {
			display: inline-block;
			padding: 0;
		}
	}

	>div {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
	}

	a.btn,
	span,
	button {
		line-height: 2em;
		min-width: 2em;
		padding: 0 .25em;
		text-align: center;
	}

	span {
		display: inline-block;

		+button,
		+.btn {
			margin-left: var(--padding-s);
		}
	}

	a.btn,
	button {
		+span {
			margin-left: var(--padding-s);
		}

		&:not(.mini) svg {
			margin: 0;
		}
	}

	span.current {
		background: var(--theme-color);
		color: var(--theme-text-color);
	}

	span.spacer {
		color: var(--form-button-disabled-text-color);
	}

	form {
		display: inline-block;
	}

	div+form {
		padding-left: var(--padding-xl);
	}

	.form-group {
		align-items: center;
		display: inline-flex;
		padding: 0;

		a.btn,
		button {
			flex: 1 0 auto;
			margin: auto 0 auto var(--padding-s);
			padding: 0 .5em;

			svg {
				margin-right: .25em;
			}
		}
	}
}

@media (max-width: $tabletWidth ) {
	body.caerp .pager {
		>div {
			padding-top: var(--padding-m);
		}
	}
}