<section id="work_form" class="modal_view size_large">
    <div
        role="dialog"
        id="work-forms"
        aria-modal="true"
        aria-labelledby="work-forms_title"
    >
        <div class="modal_layout">
            <header>
                <button
                    class="icon only unstyled close"
                    title="Fermer cette fenêtre"
                    type='button'
                    aria-label="Fermer cette fenêtre"
                >
                    <svg><use href="/static/icons/endi.svg#times"></use></svg>
                </button>
                <h2 id="work-forms_title">
                    Ajouter un ouvrage
                </h2>
            </header>
            <nav>
                <ul class="nav nav-tabs modal-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a
                            href="#form-container"
                            aria-controls="form-container"
                            id="form-tabtitle"
                            role="tab"
                            data-toggle="tab"
                            tabindex="-1"
                        >
                            Saisie libre
                        </a>
                    </li>
                    <li role="presentation">
                        <a
                            href="#catalog-container"
                            aria-controls="catalog-container"
                            id="catalog-tabtitle"
                            role="tab"
                            tabindex="-1"
                            data-toggle="tab"
                        >
                            Depuis le catalogue
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="tab-content">
                <div
                    role="tabpanel"
                    class="tab-pane fade in active"
                    id="form-container"
                    aria-labelledby="form-tabtitle"
                >
                    <form name="current" class="modal_content_layout layout">
                        <input type="hidden" name="type_" value="price_study_work" />
                        <div class="modal_content">
                            <div class="message-container"></div>
                            <div class="errors"></div>
                            <fieldset>
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <div class="field-title"></div>
                                    </div>
                                </div>
                                <div class="field-description"></div>
                                <div class="field-display_details"></div>
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <div class="field-margin_rate"></div>
                                    </div>
                                </div>
                                <div class="row form-row">
                                    <div class="col-md-6">
                                        <div class="field-quantity"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="field-unity"></div>
                                    </div>
                                </div>
                                <div class="row form-row">
                                    <div class="col-md-6">
                                        <div class="field-tva_id"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="field-product_id"></div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <footer>
                            <button
                                class="btn btn-primary icon"
                                type="submit"
                                value="submit"
                            >
                                <svg><use href="/static/icons/endi.svg#check"></use></svg>
                                Continuer
                            </button>
                            <button
                                class="btn icon"
                                type="reset"
                                value="submit"
                                title="Annuler et revenir en arrière"
                                aria-label="Annuler et revenir en arrière"
                            >
                                Annuler
                            </button>
                        </footer>
                    </form>
                </div>
                <div
                    role="tabpanel"
                    class="tab-pane"
                    id="catalog-container"
                    aria-labelledby="catalog-tabtitle"
                >
                </div>
            </div>
        </div>
    </div>
</section>
